@import url('https://fonts.googleapis.com/css?family=Roboto');

.container{
  padding: 50px;
}

.card{
  width: 300px;
  height: 420px;
  background-color:#009999;
  border-radius: 10px 10px;
}

.header{
  border-radius: 10px 10px 0px 0px;
  padding: 5px;
  background-color:#006666;
}

h3{
  color:black;
  font-family: 'Roboto', sans-serif;
  margin-left:30px;

}



.body li{
  transition: 1s all;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  padding: 15px;
  margin-left: 50px;
  margin-top: 30px;
  color: #fff;
  list-style: none;
  display: block;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
}

li:hover{
  transition: 1s all;
  color:#cc0066;
  background-color:white;
  border-top-right-radius: 10px 10px;
  border-bottom-right-radius: 10px 10px;
  cursor: pointer;
}

.body > li{
  float: left;
}

.body li ul{
  background: black;
  margin-left: 280px;
  margin-top: -38px;
  display: none;
  position: absolute;
  border-top-right-radius: 15px 15px;
  border-bottom-right-radius: 15px 15px;
}

.body li:hover > ul{
  display: block;
  cursor: pointer;
}